body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}

header {
    background-color: rgb(13, 60, 61);
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-top: 10px;
    display: flex;
    right: 0px;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    right: 0px;
}

nav a:hover {
    text-decoration: underline;
}

.welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 1.5rem;
}

.login-box {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #141414;
    border-radius: 10px;
    text-align: center;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.login-box h3 {
    font-family:sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;
    color: rgb(13, 60, 61);
    font-size: 30px;
}

.login-box #bemvindo{
    font-family:sans-serif;
    margin-bottom: 20px;
    margin-top: 40px;
    color: rgb(13, 60, 61);
    font-weight: bold;
}

.login-box button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    background-color: rgb(13, 60, 61);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login-box button:hover {
    background-color: #141414;
    color: white;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid rgb(13, 60, 61);
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    color: black;
    cursor: pointer;
}

option {
    padding: 10px;
    font-size: 16px;
    background-color: white;
    color: black;
}

select:focus {
    border-color: #141414;
    outline: none;
}

option:hover {
    background-color: rgb(13, 60, 61);
    color: white;
}

input {
    width: 92%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid rgb(13, 60, 61);
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    color: black;
    cursor: pointer;
}

input[type="date"]:focus {
    border-color: #141414;
    outline: none;
}

input[type="date"]::placeholder {
    color: #888;
    font-style: italic;
}

label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    color: rgb(13, 60, 61);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaço entre os campos */
}
  .form_conteudo a{
    display: inline;
    visibility: hidden;
  }
.form_conteudo.error.error input{
    border-color: #ff3b25;
  }
  
  .form_conteudo.error a{
    color: #ff3b25;
    visibility: visible;
  }

